.radio{
    position: relative;
    padding-left: 30px;
    cursor: pointer;
  }
  
  .radio input[type="radio"]{
    display: none;
  }
  
  .radio span{
    height: 24px;
    width: 24px;
    border-radius: 50%;
    border: 3px solid #5DD25A;
    display: block;
    position: absolute;
    left: 0;
  }
  
  .radio span:after{
    content: "";
    height: 14px;
    width: 14px;
    background: #5DD25A;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%) scale(0);
    border-radius: 50%;
    transition: transform  300ms ease-in-out 0s;
  }
  
  .radio input[type="radio"]:checked ~ span::after{
    transform: translate(-50%,-50%) scale(1);
  }