@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
@import url("css/radio.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #232323;
  color: white;
  max-width: 1200px;
  margin: 0 auto;
}
